<div id="burgerLists">
{{name}}

{{#if devoured}}
	<button class="change-devoured waves-effect waves-light btn" data-id="{{id}}" data-newdevour="{{devoured}}">
		DEVOUR
	</button>
	{{/if}}

{{#unless devoured}}
	<button class="delete-burger waves-effect waves-light btn" data-id="{{this.id}}">
		DELETE
	</button>
	{{/unless}}
</div>


